* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Josefin Sans, sans-serif;

 

  /* background-color: #ad988c; */
}

.socials{
  position: fixed;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.socials a{
  text-decoration: none;
}

.social-icons a:hover {
  color: #6983aa; 
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  height: 20px;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 5px;
  border-bottom: #79a753;
}

.nav-after {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #eeff2d, #07b960);
}
.logo {
  font-size: 40px;
  color: #54aa38;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.nav-links a:hover {
  color: #e7fd2f;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    text-align: center;
    padding: 10px 0;
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}
/* .container {
 
  padding: 40px;
 
  
} */

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  padding: 10px 0;
}

.line {
  flex-grow: 0.4;
  height: 1px;
  background-color: black;
}

.title-text {
  color: black;
  font-size: 30px;
  text-transform: uppercase;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.swiper-slide img {
  width: 75%;
  height: auto;
  object-fit: cover;
}
.swiper-container {
  max-width: 100%;
  height: auto;
}
.promo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 10px auto;
  border-radius: 10px;
}
.promo-text {
  flex: 1;
  padding: 20px;
  text-align: left;
}
.promo-text h2 {
  color: #2c3e50;
  font-size: 28px;
}
.promo-text ul {
  list-style: none;
  padding: 0;
}
.promo-text ul li {
  margin: 10px 0;
  font-size: 18px;
}
.promo-text .cta {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background:#555F50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.promo-image {
  flex: 1;
  text-align: center;
}
.promo-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .promo-section {
    flex-direction: column;
    text-align: center;
  }
}



/* .innovator {
  display: flex;
  align-items: center;
  width: 65%;
  gap: 10px;
}
.innovator img {
  width: 20vw;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.innovator-text {
  font-size: 18px;
  padding: 10px;
}

.innovator-text h3{
  margin: 0;
  color: #333;
} */


/* catalog */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.product {
  background: white;
  padding: 15px;
 
}

/*  */




